extends layouts/main

block content
    .form-container
        form(action= routes.editVideo(Video.id), method="post")
            input(type="text", placeholder="Title", name="title" ,value=Video.title)
            textarea(name="description", placeholder="Description")=Video.description
            input(type="submit", value="Update Video")
            a.form-container__link--delete(href=routes.deleteVideo(Video.id)) Delete Video 