//- pug 는 html 을 더 깔끔하고 쉽게 사용할수 있도록 만든 템플릿이고 
//- pug 문법형태로 작성하게되면 pug 가 자동으로 html 문법 형태로 변환해 브라우저에 전달한다.
//- layout 을 사용하려면 사용하려는 레이아웃을 상속받으면 된다.
//- 코드를 입력할 블럭 작성후 하위에 코드  작성
extends layouts/main
include mixins/videoBlock


block content
    .videos
        each video in videos
            //-  mixins
            +videoBlock({
            id:video.id,
            title: video.title ,
            views:video.views,
            videoFile:video.fileUrl
            })
    
            
        

